
@{
    ViewData["Title"] = "Index";
}

<style>
    .alignleft {
        display: inline-block;
        text-align: left;
        float: left;
    }

    .alignright {
        display:inline-block;
        text-align: right;
        float : right;
    }

   
    .button1{
        background-color: indianred;
        margin : 0 auto;
        border: none;
        color: white;
        padding: 10px 10px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .button2 {
        background-color: indianred;
        border: none;
        margin: 0 auto;
        color: white;
        padding: 10px 10px;
        text-align: right;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

</style>
<html>
<head>
    <meta name="viewport" content="widthdevice-width" />
</head>
<body>
    <h2>Cart Page</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Options</th>
                <th>Total Amount</th>
            </tr>


        </thead>
        <tbody>
            @{
                int itr = 0;
            }
            @foreach (var item in ViewBag.cart)
            {
                itr++;
                if (itr < ViewBag.cart.Count)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Product.Name</td>
                        <td><img src="~/images/prod/@item.Product.ImageFile" /></td>
                        <td>@item.Product.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Product.UnitPrice*item.Quantity)</td>
                        <td>
                            <form method="get">
                                <p>
                                    <button class="button1" type="submit" asp-controller="Carts" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </button>

                                </p>

                            </form>
                        </td>
                        <td> </td>

                    </tr>

                }
                else
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Product.Name</td>
                        <td><img src="~/images/prod/@item.Product.ImageFile" /></td>
                        <td>@item.Product.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Product.UnitPrice*item.Quantity)</td>
                        <td>
                            <form method="get">
                                <p>
                                    <button class="button1" type="submit" asp-controller="Carts" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </button>

                                </p>

                            </form>
                        </td>

                        <td>@ViewBag.total</td>

                    </tr>


                }

            }




        </tbody>
    </table>
    <br />
    <div class="alignleft">
        <form method="get">

            <button align="left" class="button1" type="submit" asp-controller="Products" asp-action="Index">Continue Shopping </button>


        </form>
    </div>
    <div class="alignright">
        <form method="get">
                         
            <button  align="right" class="button1" type="submit" asp-controller="Checkouts" asp-action="Index"> Checkout </button>
        </form>
    </div>

  


</body>

</html>
